/* Conseil de mise en page pendant la réalisation du site */
:root{
	--background:#fffef3;
	--bandeau: #0E0D3F ;
	--footer: #0E0D3F ;
	--text-color:#0E0D3F;
	--text-color-beige: #fffce9 ;
	--text-color-noir:black;
	/* --color-shadow:rgba(255, 179, 0, 0.664); */
	--color-shadow:rgba(112, 33, 33, 0.664);
}


*{
	/* border-width : 1px;
	border-style : dotted;
	border-color : #d46d6d; */
	padding : 0px;
	margin : 0px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

/* strong dans inscription .php */
strong{
	display: block;
	padding: 5px;
	
}

/* bandeau de l'index */
.bandeau{
	color: var(--text-color-beige) ;
	background:var(--bandeau);
	z-index: 99;
}

/* titre h1 dans le bandeau */
.bandeau > h1 {
	font-size: 2em;
	margin: 0 0 0 0;
	padding: 15px;
}

/* lien des titres h1 (vers les pages) dans le bandeau */
.bandeau > h1 > a{
	color: var(--text-color-beige);
	text-decoration: none;
}

/* logo Nmaps en haut à gauche  */
#logo{
	width: 70px;
	float: left;
}

/* logo de paul va dans quisommesnous */
.logoupv{
	float: left;
	width: 100px;
}


/* texte dans la page quisommesnous.php */
.qui_sommes_nous{
	/*padding: 10 px;*/
	margin: 20px;
	text-align: justify;
	font-size: larger;
	float: right;
}

/* titre h2 */
h2{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10%;
	font-size:xx-large;
	color: #24445C;
}

/* sous titres */
.soustitre{
	margin: 50px;
	font-size: 180%;
	color: #008080;
}


/* textes dans les profils (noms et ages) */
.profil{
	border-color: rgb(163, 136, 161);
	border: 1px;
	border-style:solid;
	margin-left: 100px;
	margin-right: 0px;
	margin-top: 50px ;
	margin-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	display: table-cell ;
	overflow: auto;
	white-space: nowrap;
	text-align: center;
	width: 22%;
}

/* photo dans les profils  */
.profil img{
	/* float: left; */
	width: 120px;
	display: inline-flex;
}

/*  c'est où ? */
.departement{
	padding-left: 30px;
	font-size: 115% ;
}

/*  c'est où ? */
#gauche > li {
	float: left;
	color: #86aae0;
	list-style-type: none;
	padding: 10px;
	margin-right: 700px;
	margin-left: 10px;
	margin-top: 100px;
}

/*  c'est où ? */
#droite{
	float: right;
	color: red;
	list-style-type: none;
	padding: 10px;
	margin-left: 100px;
	margin-right: 10px;
	margin-top: -210px;

}


/* pied de page  */
.footer{
	min-height: 50px;
	background-color:var(--footer);
	font-size: .9rem;
	display: flex;
	justify-content: center;
	color: var(--text-color-beige);
	/* position:fixed; */
    /* bottom: 0; */
	width: 100%;
}

/* paragraphe du pied de page */
.footer > p{
	background-color:var(--footer);
	margin-top: 10px;
	color: var(--text-color-beige);
	font-size: 1.8em;
	display: flex;
}
/* les liens du pieds de page */
.footer > a{
	background-color:var(--footer);
	margin-top: 10px;
	color: var(--text-color-beige);
	text-decoration: none;
	font-size: .9rem;
}


#quisommesnous{
	color: var(--text-color-beige);
	text-decoration: none;
	
}
#quisommesnous:hover{
	font-style: italic;
}


a{
	text-decoration: none;
}


/* fond de couleur du body */
body {
	background-color: var(--background);
}

/*  c'est où ? */
.menu{
	display: flex;              /* Transformation en flexbox */
    padding:0;                  /* Suppression des marges internes */
	justify-content: center;     /* Alignements des liens dans le menu */
}

/*  c'est où ? */
.menu li {
    list-style-type: none ;       /* Suppression des puces */
}

/*  c'est où ? */
.menu a {
    display:block;                			/* Transformation en block */
    min-width: 120px;             			/* Largeur minimale des liens */
	margin: 0.5rem;               			/* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 1rem;           			/* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           			/* Centrage du texte */   
    background-color: #1abc9c00;    	   /* Couleur d'arrière-plan */
    color: var(--text-color-beige);         /* Couleur du texte */
    text-decoration: none;        			/* Suppression du soulignement */
    border: 1px solid var(--background) ;   /* Ajout d'une bordure */
    border-radius: 4px;           			/* Arrondis des bordures */
	transition: all 0.5s ;          		/* Ajout des effets de transition */
}


/* boite des soustitres du menu  */
.menu a:hover { 
	background-color: var(--background);
	color: var(--text-color);
	border-color: var(--background);
	box-shadow: 3px 3px 5px var(--color-shadow);
}


/* les header  */
header {
	/* background-color: #979494; */
	color: var(--text-color-beige);
	position: relative;
	padding: 0;
	margin: 0;
	max-height:900px;
}
.header-content{
	background: rgba(44, 44, 44, 0.4);
	border-radius: 20px;
	padding: 2em;
	max-width: 1024px;
	min-width: 30%;
	margin: auto;
	/* height: 250px; */
	/* text-shadow: rgba(112, 112, 112, 0.609) 1px 0 10px; */
}
.header-area {
    text-align: center;
    position: absolute;
    display: flex;
    min-height: 100%;
    top: 0;
    left: 0;
    color: var(--text-color-beige);
	margin: auto;
    width: 100%;
}
.header-cover img{
    opacity: 1;
    width: 100%;
    height: auto;
    min-height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
	border-radius: 20px;
}


/*  c'est où ? */
label {
  display: inline-block;
  width: 120px;
  text-align: left;
  color: black;
  font-size: 1.3em;
}

/*  c'est où ? */
.pseudo {   
	text-align: center;
    margin-top: 150px;
	padding-top: 50px;
}

/*  c'est où ? */
.password{
	text-align: center;
    margin-top: 40px;
	padding-top: 10px;
}

/*  c'est où ? */
.login{
	text-align: center;
    margin-top: 80px;
	font-size: 1.3em;
	border: inset ;
    border-radius: 0.5em;
	
	width: 250px;
	height: 45px;
	margin: 70px 600px;
	background-position: fixed;
	background-color: grey;
	
	box-sizing: border-box;
}

/*  c'est où ? */
input{
	width: 240px;
	height: 40px;
  box-sizing: border-box;
}

/* style de la carte*/
.carte {
	width: 85%;
	margin: 0 auto;
}

/*  c'est où ? */
path {
	stroke: #000000;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: .25;
	fill: #86aae0;
}
g:hover path {
	fill: #86cce0;
}
g path:hover {
	fill: #86eee0;
}
/* fin du style de la carte */

/*  c'est où ? */
.retour{
	display:block;                /* Transformation en block */
    width: 120px; 
	            /* Largeur minimale des liens */
	margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.2rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */   
    background-color: var(--background);    /* Couleur d'arrière-plan */
    color: var(--text-color);                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid var(--background) ;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
	border-color: var(--text-color);
	transition: all 0.5s ;
}
.retour:hover{
	background-color: var(--bandeau);
	color: var(--text-color-beige);
	box-shadow: 3px 3px 5px var(--color-shadow);
}

/*  c'est où ? */
.photo_dep{
	/* photo du dep en question. */
	position:relative;
	max-width: 50%;
	margin-left: 50%;
	transform: translateX(-50%);
}


/*  c'est où ? */
.conteneur{
    max-width: 2000px;
    margin: 0px auto;
}

/*  c'est où ? */
.d2{
    width: auto;
    /* height: -50px; */
    padding-top: 54%;
    /* box-shadow: 0px 0px 10px #777; */
    background-color: var(--background);
    background-size: contain;
    animation: fondu 15s ease-in-out infinite both;
	background-repeat: no-repeat;
}
.d2:hover{
    animation-play-state: paused;
}


/* image d'accueil qui se déroule */
@keyframes 
fondu{
    0%{background-image: url("../images/montpellier.jpg");}
    33.33%{background-image: url("../images/departements/53.jpg");}
    66.67%{background-image: url("../images/departements/93.jpg");}
    100%{background-image: url("../images/montpellier.jpg");}
}

#choidp{
	height: 50 px;
	border:solid 1 px;
	margin-right: 500px;

}
.choixdp{
	margin-top: 20px;
	margin-left: 80px;
	margin-right: 50px;
}

/* Toutes les cellules du tableaux contenant la case à cocher pour choisir le critère
sont identifiées par la classe critcell */
.critcell{
	margin: 10px;
	width:40%;
	height:auto;
	font-size: 14px;
	font-style: justify;
}

#carte{  /* p de la carte de france*/
	padding: 90px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

p a:hover {
	color:blue;
}

.profil img{
	 border-radius: 50%;  /* permet de mettre la photo en rond*/
	 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rating p {
	float: right;
	color: orange;
	text-decoration: none;
	font-size: 6em;
	transition: color .4s;
 }
 .etoile {
	 color:orange;
	 font-size: 25px;
	 white-space: nowrap;
	 display: inline;
	 border: blue solid 2px;
 }

 .page{
	 margin: 0 auto 30px auto;
	 width: 70%;
	 text-align: center;
	 line-height: 1.5em;
 }
 .sais_dep {
	 margin-top: 10px;
	 margin-left: 10px;
 }
.marg {
	margin-left:50px;
}


input{
	padding: 5px;
	width: auto;
	height: auto;
	margin: 5px;
}

.sais_dep>p{  /* paragraphe dans la recherche simple */
	color: var(--text-color);
}

.sais_dep>form>*{
	/* margin-left: 50%; */
	/* transform: translateX(-50%); */
	color: var(--text-color);
	text-align: center;
	border: solid 1px var(--bandeau);
	border-radius: 10px;
	background-color: var(--background);
	width: auto;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* .sais_dep>form>select{
	margin-top: 50px; 
} 
*/

/* #dept{
	border:black solid 5px;
	display: inline-block;

}

input[name=="Note Niv_pop"]{
	color : black;
}

strong{
	border: red solid 2px;
} */

.box
{
	margin: 0 auto;
  width: 400px;
	padding: 1em;
  border: 2px solid #CCC;
  border-radius: 2em;
 
}
.box-msg
{
	text-align: center;
	font-style: italic;
}
#mamap{
	width: 655.5px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.info_dep{
	margin-top: 50px;
	margin-left: 50px;
	width: 500px;
}
.sais_com {
	text-align:center;
	margin-top:25px;
}
.sais_com>h3 {
	color:orange;
}
.sais_com>form>p {
	font-size: 13px;
}
.aff_com>h3 {
	margin-bottom:5px;
}
.aff_com>h3>em {
	border-bottom:2px black solid;
}
.aff_com>p {
	border:1px black solid;
	margin-top:-4px;
	padding:5px 5px 5px;
}

.dep_colle {
	display: inline-block;
	background-color: rgba(100, 100, 111, 0.2);
	padding:10px 35px 35px 35px;
	margin-top:35px;
	border-radius: 2%;
}

.out_dep_colle {
	text-align: center;
}
.dep_colle+.dep_colle {
	margin-left:100px;
}

.out_dep_colle~p {
	margin:auto;
	width: 47em;
}

